<div class="flex items-center justify-center min-h-screen">
  <section
    class="flex flex-col justify-center p-20 bg-white border border-solid border-zinc-200 max-w-[680px] max-md:px-5"
  >
    <header
      class="flex flex-col items-center justify-center w-[full] text-center text-zinc-800 max-md:max-w-full"
    >
      <h1 class="mb-5 text-5xl font-bold leading-none max-md:max-w-full">
        Forgotten your password?
      </h1>
      <p class="mt-2 text-lg leading-6 max-md:max-w-full">
        There is nothing to worry about, we'll send you a message to help you
        reset your password.
      </p>
    </header>

    <form class="flex flex-col w-full pt-6 mt-6 max-md:max-w-full">
      <div class="flex flex-col w-full leading-snug max-md:max-w-full">
        <div class="flex flex-col w-full max-md:max-w-full">
          <label for="email" class="text-sm text-zinc-800 max-md:max-w-full"
            >Email Address</label
          >
          <input
            id="email"
            type="email"
            placeholder="Enter personal or work email address"
            class="flex-1 shrink gap-2 self-stretch px-4 py-3.5 mt-2 w-full text-base border-b border-solid bg-slate-100 border-b-neutral-300 min-h-[48px] text-zinc-500 max-md:max-w-full"
            required
          />
        </div>
      </div>
      <button
        type="submit"
        class="flex justify-center items-center px-3 py-4 mt-4 w-full text-base font-medium tracking-wide leading-none text-white bg-blue-600 border-2 border-blue-600 border-solid min-h-[48px] max-md:max-w-full"
      >
        <span class="gap-2.5 self-stretch px-4 my-auto">Send Reset Link</span>
      </button>
    </form>
  </section>
</div>
