<div class="w-[256px] min-h-screen bg-red-700 fixed">
  <nav
    data-layername="desktopVerticalLoggedInButtonsBottom"
    class="flex flex-col justify-center px-4 py-6 bg-white border-r h-screen border-l border-solid border-x-zinc-200 max-w-[256px]"
  >
    <header
      data-layername="logoContainer"
      class="flex flex-col items-center w-full text-2xl font-bold leading-none whitespace-nowrap text-zinc-500"
    >
      <div data-layername="logo" class="flex items-start gap-1">
        <h1 data-layername="text">The Librarian</h1>
      </div>
    </header>
    <ul
      data-layername="menu"
      class="flex flex-col flex-1 w-full mt-4 text-base font-medium leading-none text-zinc-800"
    >
      <li
        data-layername="menuItem"
        class="flex items-center w-full gap-2 px-2 py-3 border-b border-solid whitespace-nowrap border-b-slate-100"
      >
        <a routerLink="second-dashboard" class="flex items-center w-full gap-2">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/7fb147081ce84ac9a573db19d9f3c9f9/78776bf832ab4b65cafc87027bebe2d327fa1848ad0f566f995f505ed7ba0b05?apiKey=7fb147081ce84ac9a573db19d9f3c9f9&"
            alt=""
            class="w-6 my-auto"
          />
          <span data-layername="menuItem" class="self-stretch flex-1 my-auto"
            >Dashboard</span
          >
        </a>
      </li>
      <li
        data-layername="menuItem"
        class="flex items-center w-full gap-2 px-2 py-3 border-b border-l-2 border-solid whitespace-nowrap bg-slate-100 border-b-slate-100 border-l-slate-100"
      >
        <a routerLink="book" class="flex items-center w-full gap-2">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/7fb147081ce84ac9a573db19d9f3c9f9/cd97e0cdec301846368c06981d76efdd4a16368d84dbd00378c6dc411fb698fb?apiKey=7fb147081ce84ac9a573db19d9f3c9f9&"
            alt=""
            class="w-6 my-auto"
          />
          <span data-layername="menuItem" class="self-stretch flex-1 my-auto"
            >Books</span
          >
        </a>
      </li>
      <li
        data-layername="menuItem"
        class="flex items-center w-full gap-2 px-2 py-3 border-b border-solid border-b-slate-100"
      >
        <a routerLink="borrowed-books" class="flex items-center w-full gap-2">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/7fb147081ce84ac9a573db19d9f3c9f9/a5e0c32733e86e1f9f8cbaf9f81f7b7c834df54061052ddb51d31f104b8aa07a?apiKey=7fb147081ce84ac9a573db19d9f3c9f9&"
            alt=""
            class="w-6 my-auto"
          />
          <span data-layername="menuItem" class="self-stretch flex-1 my-auto"
            >Borrowed Books</span
          >
        </a>
      </li>
      <li
        data-layername="menuItem"
        class="flex items-center w-full gap-2 px-2 py-3 border border-solid whitespace-nowrap border-slate-100"
      >
        <a routerLink="members" class="flex items-center w-full gap-2">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/7fb147081ce84ac9a573db19d9f3c9f9/49a168bed096c6effb88fa1261646cf6bc068830be83070805b57ae8203933f0?apiKey=7fb147081ce84ac9a573db19d9f3c9f9&"
            alt=""
            class="w-6 my-auto"
          />
          <span data-layername="menuItem" class="self-stretch flex-1 my-auto"
            >Members</span
          >
        </a>
      </li>
      <li
        data-layername="menuItem"
        class="flex items-center w-full gap-2 px-2 py-3 border-b border-solid whitespace-nowrap border-b-slate-100"
      >
        <a routerLink="fines" class="flex items-center w-full gap-2">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/7fb147081ce84ac9a573db19d9f3c9f9/9be773ccb24fcc39701bb3cd69face90c09569df1610284dc50fcaaf3ab5f56c?apiKey=7fb147081ce84ac9a573db19d9f3c9f9&"
            alt=""
            class="w-6 my-auto"
          />
          <span data-layername="menuItem" class="self-stretch flex-1 my-auto"
            >Fines</span
          >
        </a>
      </li>
      <li
        data-layername="menuItem"
        class="flex items-center w-full gap-2 px-2 py-3 border-b border-solid whitespace-nowrap border-b-slate-100"
      >
        <a routerLink="publishers" class="flex items-center w-full gap-2">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/7fb147081ce84ac9a573db19d9f3c9f9/9871198ba829cb8479da429fbc8e970ddc07875f3ac1c95c52eef78ddf0bb6a4?apiKey=7fb147081ce84ac9a573db19d9f3c9f9&"
            alt=""
            class="w-6 my-auto"
          />
          <span data-layername="menuItem" class="self-stretch flex-1 my-auto"
            >Publishers</span
          >
        </a>
      </li>
    </ul>
  </nav>
</div>
